header {
	background-color: #282631;
}

a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	font-family: arial;
	padding: 9px;
}

li {
	text-decoration: none;
	display: inline-block;
}

ul {
	padding-top: 75px;
	margin: 0px 0px 0px 94px;

}

.blue{
	font-size: 16px;
	
}

span a{
	color: #369;
    text-decoration: none;
}

h2 {
	padding: 10px;
	font-family: arial;
}

img {
	max-width: 100%;
}

h4 {
	color: #369;
	text-align: center;
}

section {
	background-color:#DBDEDE;
}

h6 {
	color: #369;
	text-align: center;
}

.movie {
	padding: 40px 0px 0px 30px;
}

.menu img {
	width: 12px;
	height: 12px;
}

.menu a {
	color: #369;
    text-decoration: none;
}

.list {
}